<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Email</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; } body {
      background-color: #0a1930; padding: 30px; font-family: Arial, Helvetica,
      sans-serif; } .container { background-color: #eee; padding: 10px;
      border-radius: 3px; line-height: 1.5; } .contact { margin-top: 1rem; }
    </style>
  </head>
  <body>
    <div class="container">
      <p>My self, {{userName}}</p>
      <p>{{message}}</p>
      <p class="contact">You can reply back me on my mail:- {{email}}</p>
    </div>
  </body>
</html>